@model object

@{
    ViewData["Title"] ="درباره ما";
    ViewData["PageTitle"] = "درباره ما";
    Layout = "_Layout";
}
@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section SideNav
{
    @Html.Partial("SideNav")
}

@section Body
{
   
        <div class="text-right text-size-lg">
            <bdi>
                شرکت آنام سرکان با در اختیار داشتن کادر مجرب مدیران و کارشناسان متخصص در زمینه انواع ماشین آلات راهسازی، معدنی و صنعتی با بیش از 25 سال سابقه کار آماده ارائه خدمات در زمینه های ذیل می باشد:
            </bdi>
            <br/>
            <bdi>
                تهیه و توزیع انواع روانکارهای صنعتی و موتوری، انواع گریس و انواع ضد یخ با بهره گیری از خدمات شرکت های سازنده داخلی نظیر: بهران، ایرانول، سپاهان و پارس و شرکت های خارجی نظیر Elf، Shell، Total، Mobil، Condat و ...
            </bdi>
            <br/>
            <bdi>
                در حال حاضر این شرکت تامین انواع روانکارهای صنایع کوچک و  بزرگ در زمینه های مختلف از جمله صنایع خودروسازی، نساجی غذایی، معدنی و علی الخصوص شرکتهای پیمانکاری عمرانی، ساختمانی و راهسازی را بعهده دارد و از این بابت افتخار دارد که نقش خود را در صنعت کشور به بهترین شکل ایفا می نماید.
            </bdi>
            <br/>
        </div>
    
}

@section Footer
{
    @Html.Partial("Footer")
}

