@model object

@{
    ViewData["Title"] ="درباره ما";
    ViewData["PageTitle"] = "درباره ما";
    Layout = "_Layout";
}
@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section SideNav
{
    @Html.Partial("SideNav")
}

@section Body
{
    <div class="row">
        <div class="col-sm-12 text-right">
            <bdi>شرکت آنام سرکان با در اختیار داشتن کادر مجرب مدیران و کارشناسان متخصص در</bdi><br>
            زمینه انواع ماشین آلات راهسازی، معدنی و صنعتی با بیش از 15 سال سابقه کار آماده ارائه<br>
            خدمات در زمینه های ذیل می باشد<br>
            تهیه و توزیع انواع روانکارهای صنعتی و موتوری، انواع گریس ها<br>
            و انواع ضدیخ با بهره گیری از خدمات شرکت های سازنده<br>
            داخلی نظیر: بهران، ایرانول، سپاهان و پارس و شرکت های<br>
            خارجی نظیر Elf، Shell، Total، Mobil، Condat و ...<br>
            » » قطعات یدکی، فیلتر و لاستیک با پشتییبانی شرکت های<br>
            هپکو، پارس لودرز و Simex<br>
            » » ارائه قطعات ماشین آلات Atlas Copco با اخذ نمایندگی<br>
            رسمی از شرکت اطلس پارس البرز<br>
            » » افتخار دارد نقش خود را در صنعت کشور به بهترین شکل<br>
            ایفا نماید<br>
            در حال حاضر این شرکت تامین انواع روانکارهای صنایع کوچک و<br>
            بزرگ در زمینه های مختلف از جمله صنایع خودروسازی، نساجی،<br>
            غذایی، معدنی و علی الخصوص شرکتهای پیمانکاری عمرانی،<br>
            ساختمانی و راهسازی را بعهده دارد و از این بابت افتخار دارد که<br>
            نقش خود را در صنعت کشور به بهترین شکل ایفا می نماید.<br>
            <br>
            تهیه و توزیع انواع روغن موتور صنعتی<br> گریس، لاستیک، فیلتر و قطعات یدکی<br>
            مشاوره خرید محصولات ایرانول<br>
            روغن های صنعتی<br>
            » » روغن های دیزلی<br>
            » » روغن های بنزینی<br>
            » » روغن های موتورسیکلت<br>
            » » روغن های دنده خودرو<br>
            عرضه محصولات شرکت نفت پارس<br>
            » روغن موتور پارس ارس<br>
            » » روغن موتور پارس دیزل<br>
            » » روغن موتور پارس هیرمند<br>
            » » روغن موتور پارس هامون<br>
            » » روغن موتور پارس پاسارگاد<br>
            نماینده رسمی محصولات بهران<br>
            » روغن های مخصوص موتورهای بنزینی<br>
            » » روغن های مخصوص موتورهای دیزلی<br>
            » » روغن های دنده خودرو )غیر اتوماتیک(<br>
            » » روغن های دنده صنعتی<br>
            » » روغن های توربین<br>
            خدمات و فعالیت های آفاکو<br>
            روانساز صنعتی<br>
            روانساز دریایی<br>
            روانساز هوایی<br>
            روانساز اتومبیل<br>
            وسایل نقلیه سنگین<br>
            » » مشاوره در زمینه انتخاب و خرید مناسب انواع روانکارها<br>
            » » تهیه و توزیع انواع روانکارهای صنعتی، موتوری شرکت های ایرانی نظیر ایرانول، پارس،<br>
            سپاهان و ...<br>
            » » نماینده رسمی فروش شرکت بهران<br>
            » » تهیه و توزیع انواع روانکارهای صنعتی و موتوری خارجی نظیر: شل ) Shell (، فوکس<br>
            Fuchs( (، توتال ) Total (، موبیل) Mobil (، کوندات) Condat 
        </div>
    </div>
}

@section Footer
{
    @Html.Partial("Footer")
}

