@model object

@{
    ViewData["Title"] = "تماس با ما";
    ViewData["PageTitle"] = "تماس با ما";
    Layout = "_Layout";
}
@section TopTop
{
    @Html.Partial("TopTop");
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section SideNav
{
    @Html.Partial("SideNav")
}

@section Body
{
    <div class="row main">
        <div class="text-right">
            <h3>آدرس</h3>
            <span class="text-size-lg">
                تهران، فلکه دوم صادقیه، بلوار اشرفی اصفهانی، نرسیده به بلوار مرزداران، برج نگین رضا    
            </span>
            
            <br />
            <h3>تلفن</h3>
            <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;021-44034117
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;021-44034116
        </div>
    </div>

}

@section Footer
{
    @Html.Partial("Footer")
}




