@model object

@{
    ViewData["Title"] ="ارتباط با ما";
    ViewData["PageTitle"] = "ارتباط با ما";
    Layout = "_Layout";
}
@section TopTop
{
    @Html.Partial("TopTop");
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section SideNav
{
    @Html.Partial("SideNav")
}

@section Body
{
    <h2>Contact</h2>
}

@section Footer
{
    @Html.Partial("Footer")
}




