@model Message

@{
    ViewData["Title"] = "تماس با ما";
    ViewData["PageTitle"] = "تماس با ما";
    Layout = "_Layout";
}
@section TopTop
{
    @Html.Partial("TopTop");
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section SideNav
{
    @Html.Partial("SideNav")
}

@section Body
{
    <div class="main">
        <form asp-controller="Home" asp-action="Contact" method="post">
            <input type="hidden" name="originalSecurityCode" value="@ViewData["SecurityCode"]" />
            <div>
                <div class="row form-group">
                    <div class="col-xs-2 text-right label-title">
                        <label asp-for="Name">نام</label>
                    </div>
                    <div class="col-xs-10">
                        <input asp-for="Name" class="form-control" placeholder="نام"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-2 text-right label-title">
                        <label asp-for="Email">ایمیل</label>
                    </div>
                    <div class="col-xs-10">
                        <input asp-for="Email" class="form-control" placeholder="ایمیل"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-2 text-right label-title">
                        <label asp-for="PhoneNumber">تلفن</label>
                    </div>
                    <div class="col-xs-10">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="تلفن"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-2 text-right label-title">
                        <label asp-for="Title">موضوع</label>
                    </div>
                    <div class="col-xs-10">
                        <input asp-for="Title" class="form-control" placeholder="موضوع"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-2 text-right label-title">
                        <label asp-for="MessageDetail">متن پیام</label>
                    </div>
                    <div class="col-xs-10">
                        <textarea asp-for="MessageDetail" style="width: 100%; height: 200px;" placeholder="متن پیام"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-2 text-right label-title">
                        عبارت امنیتی:
                    </div>
                    <div class="col-xs-2 text-center label-title" style="background-color: greenyellow;">
                        <label>@ViewData["SecurityCode"]</label>
                    </div>
                    <div class="col-xs-8">
                        <input asp-for="SecurityCode" class="form-control" placeholder="عبارت امنیتی"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right">

                    </div>
                    <div class="col-xs-10">
                        <button type="submit" class="btn btn-lg btn-block btn-primary">ارسال</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-right">
                    <h2>آدرس</h2>
                    <span class="text-size-lg">
                        تهران، فلکه دوم صادقیه، بلوار اشرفی اصفهانی، نرسیده به بلوار مرزداران، برج نگین رضا
                    </span>

                    <br />
                    <div class="text-size-lg">
                    <h2>تلفن</h2>
                    <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;021-44034117
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;021-44034116
                    <h2>ایمیل</h2>
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;info@anamserkan.ir
                    </div>
                </div>
            </div>
        </div>



    </div>

}

@section Footer
{
    @Html.Partial("Footer")
}




