@model List<Product>

@{
    ViewData["Title"] = "محصولات";
    ViewData["PageTitle"] = "محصولات ما";
    Layout = "_Layout";
}
@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
    <div class="row">
    <div class="row text-right">
        <div class="col-sm-12">
            <h1>روغن ها و روانکارها</h1>
        </div>
    </div>

    <div class="row text-right">
        <div class="col-sm-12">
            <h1>محصولات شرکت های داخلی</h1>
        </div>
    </div>
    @for (int j = 0, i = 0; i < Model.Count; i++)
    {
        if (j % 4 == 0)
        {
            @:<div class="row">
        }
        if (Model[i].ProductType == ProductType.Internal)
        {
            j++;
            @:<div class="col-sm-3 ">
            @await Component.InvokeAsync("Product", Model[i]);
            @:</div>
        }
        
        if (j % 4 == 0)
        {
            @:</div>
        }
    }
       

    <div class="row text-right">
        <div class="col-sm-12">
            <h1>محصولات شرکت های خارجی</h1>
        </div>
    </div>
    @for (int j = 0, i = 0; i < Model.Count; i++)
    {
        if (j % 4 == 0)
        {
            @:<div class="row">
        }
        if (Model[i].ProductType == ProductType.External)
        {
            j++;
            @:<div class="col-sm-3 ">
            @await Component.InvokeAsync("Product", Model[i]);
            @:</div>
        }
        
        if (j % 4 == 0)
        {
            @:</div>
        }
    }
    </div>
}

@section Footer
{
    @Html.Partial("Footer")
}


